.venv/
__pycache__/
*.pyc
*.egg-info/
.DS_Store
data/cache/
results/stage1/*.pt
results/stage1/supervisor.log
results/stage2/*.pt
results/stage2/supervisor.log
results/stage2d/*.pth
results/stage2b/*.pt
results/stage2b/supervisor.log
